################################################################################
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
################################################################################


#==============================================================================
# Common
#==============================================================================

# jobmanager.rpc.address: {{ jobmanager_rpc_address }}
# jobmanager.rpc.port: {{ jobmanager_rpc_port }}
jobmanager.heap.mb: {{ jobmanager_heap_mb }}
# taskmanager.heap.mb: {{ taskmanager_heap_mb }}
taskmanager.numberOfTaskSlots: {{ taskmanager_numberOfTaskSlots }}
# parallelism.default: {{ parallelism_default }}
fs.default-scheme: {{ fs_default_scheme }}
fs.hdfs.hadoopconf: {{ fs_hdfs_hadoopconf }}

#==============================================================================
# Advanced
#==============================================================================

taskmanager.memory.size: {{ taskmanage_memory_size }}
taskmanager.memory.fraction: {{ taskmanager_memory_fraction }}
taskmanager.memory.segment-size: {{ taskmanager_memory_segment_size }}
taskmanager.memory.preallocate: {{ taskmanager_memory_preallocate }}
taskmanager.tmp.dirs: {{ taskmanager_tmp_dirs }}
jobmanager.web.port: {{ jobmanager_web_port }}
fs.output.always-create-directory: {{ fs_output_always_create_directory }}
taskmanager.network.numberOfBuffers: {{ taskmanager_network_numberOfBuffers }}
# state.backend: {{ state_backend }}
state.backend: filesystem
blob.storage.directory: {{ blob_storage_directory }}
blob.server.port: {{ blob_server_port }}
state.backend.fs.checkpointdir: {{ state_backend_fs_checkpointdir }}

#==============================================================================
# Web Frontend
#==============================================================================

jobmanager.web.port: {{ jobmanager_web_port }}
jobmanager.web.history: {{ jobmanager_web_history }}
jobmanager.web.checkpoints.disable: {{ jobmanager_web_checkpoints_disable }}
jobmanager.web.checkpoints.history: {{ jobmanager_web_checkpoints_history }}

#==============================================================================
# YARN
#==============================================================================

yarn.application-master.port: {{ yarn_application_master_port }}

#==============================================================================
# Master High Availability (required configuration)
#==============================================================================

# recovery.mode: {{ recovery_mode }}
# recovery.zookeeper.quorum: {{ zookeeper_quorum }}
# recovery.zookeeper.path.root: {{ recovery_zookeeper_path_root }}